.card {
    
    margin: 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

#card {
  height: 63vh;
  border: none;
}
#title {
  font-size : 2.5vmin;
}
.text-muted {
  font-size : 2.1vmin;
}
#img {
  width: 100%;
  height: 37vh;
}

#nominateButton {
  padding: 0;
  width: 20vh;
  height: 6.4vh;
}
#nominateButton:hover {
  background-color: #84E572;
  border: 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#nominateButton:disabled {
  background-color: black;
  border: 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}