.App {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #333; */
  text-align: center;
  /* overflow: auto; */
}

.App input{
  display: block;
  margin: 0 auto;
  height: 11vh;
  width: 100%;
  font-size: 20px;
  font-size: 3vh;
  padding: 20px 48px;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}

.input {
  border-radius: 10px;
  background: white;
  position: absolute;
  width: 34%;
  right: 33%;
  top: 30%;
  z-index: 100;
  /* transform: translateY(-50%); */
}

.input i{
  position: absolute;
  top: 38%;
  right: 91%;
 
}

.title {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 10vh;
  padding: 10px;
  font-size: 8vh;
}

/* header and search bar */
.head {
  display: flex;
  width: 100%;
  height: 35vh;
  background-color: #9FF07C;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  flex-direction: column;
}


/* body */
.body {
  display: flex;
  
  justify-content: space-around;
  flex-direction: row;
  /* background-color: #EEEEEE; */
}

/* nomination div */
.list-nominate {
  margin-top: 3vh;
  width: 70vh;
  height: 88vh;
  z-index: 0;
  position: sticky;
  top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-color: black;
}

.nominee {
  display: flex;
  justify-content: space-between;
  width: 65vh;
  height: 15vh;
  margin: 2vh;
  text-align: center;
  padding: 3vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



.original {
  margin-top: 3vh;
  width: 130vh;
  height: 70vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* border-color: black; */
}
.content {
  margin-top: 3vh;
  width: 130vh;
  display: flex;
  /* align-items: stretch; */
  flex-wrap: wrap;
  padding: 4vh;
  justify-content: space-between;
  /* justify-content: space-evenly; */
  /* justify-content: left; */
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.movie {
  max-width: 200px;
}

.nominee-title {
  flex-grow: 0;
  padding-right: 2vh;
}
.nominee-year {
  flex-grow: 0;
}
.delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 3;
    border:0;
    background:none;
}

.delete i {
    
}

