.App {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 400px;
}
.movie {
  max-width: 200px;
}
.title {
  margin-top: 20px;
}
.head {
  margin-bottom: 20px;
}
.list-nominate {
  width: 800px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-color: black;
}
.original {
  width: 800px;
  height: 900px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-color: black;
}
.content {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-color: black;
}
.App input{
  margin-top: 20px;
  width: 90%;
  height: 40px;
  font-size: 20px;
}


